<% provide(:title, "Past Evaluations")%>

<table>
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Eval Release Date</th>
      <th>Overall Evaluation Grade</th>
      <th>Evaluation Comments</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <!--
  For each evaluation, list project name, info, and evaluation rating/comments
  -->
  <tbody>
    <% @evaluations.each do |evaluation| %>
      <% project = evaluation.project %>
        <% if project.evalReleaseDate < Date.today %>
          <tr>
            <td><%= project.projectName %></td>
            <td><%= project.evalReleaseDate %></td>
            <% if evaluation.project_id == project.id %>
              <td><%= evaluation.rating %></td>
              <td><%= evaluation.comments %></td>
            <%end%>
          </tr>
        <% end %>
    <%end%>
  </tbody>
</table>

<%= link_to 'Back', 'home' %>
