<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :projectName %>
    <%= form.text_field :projectName %>
  </div>

  <div class="field">
    <%= form.label :evalReleaseDate %>
    <%= form.date_select :evalReleaseDate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
