<% provide(:title, "View Teams")%>
<p id="notice"><%= notice %></p>


<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_on_teams.each do |student| %>
      <tr>
        <td><%= Student.find_by(id: student.student_id).fname %></td>
        <td><%= Student.find_by(id: student.student_id).lname %></td>
        <td><%= Team.find_by(id: student.team_id).teamName %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', '/admin_pages/teams' %>
