<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Peer Evaluation Tool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <h1><%= yield(:title)%> Page</h1>
  <div class="container">
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}")%>
    <% end %>
  </div>

  <body>
    <%= yield %>
  </body>
  <footer class="footer">
  <p>Peer Evaluation Tool<br>
  </footer>
</html>
